spring:
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false
  datasource:
    url: jdbc:${JAWSDB_URL}
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
logging:
  level:
    root: ERROR
    jp.ac.titech.cs.se.refactorhub:
      config:
        filter: INFO