<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <if condition='property("APP_ENV").contains("dev")'>
        <then>
            <root level="trace">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="STDOUT"/>
            </root>
        </else>
    </if>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="org.flywaydb" level="INFO"/>
</configuration>
